<footer class="bg-danger text-center text-lg-start" style="position: fixed; bottom: 0; width: 100%; color: white;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" style="color: white;" href="/">Estatisticas.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>